apache-airflow-providers-amazon[aiobotocore]==8.24.0
apache-airflow-providers-celery==3.7.2
apache-airflow-providers-common-sql==1.14.0
apache-airflow-providers-fab==1.1.1
apache-airflow-providers-ftp==3.9.1
apache-airflow-providers-http==4.11.1
apache-airflow-providers-imap==3.6.1
apache-airflow-providers-postgres==5.11.1
apache-airflow-providers-smtp==1.7.1
apache-airflow-providers-sqlite==3.8.1